

body { 
  width :94%;
  font-family: 'Open Sans', sans-serif;
  color: brown;
}
h4 {
	color: brown;
	text-align: center;

}
/* Desktop 
*/
@media (min-width: 992px){
#zote {
	width:90%;
}
#kushoto {
	width: 25%;
	height:220px;
	float: right;
	padding: 5px 5px 5px 5px;
	margin: 15px;
	color: red;
	bolder: 5px solid blue;
	background-color:gray;
}

#kati {
	width: 25%;
	height: 220px;
	float: right;
	padding: 5px;
	margin: 15px;
	color: green;
	bolder: 5px;
	background-color:gray;
}

#kulia {
	width: 25%;
	height:220px;
	padding: 5px;
	float: right;
	margin: 15px;
	color: blue;
	bolder: 5px;
	background-color:gray;
}

}

/* Tablate */
@media (min-width: 768px) and (max-width:991px)
{
#zote {
	width:90%;
}
#kushoto {
	width: 38%;
	height:220px;
	float: left;
	padding: 5px 5px 5px 5px;
	margin: 15px;
	color: red;
	bolder: 2px solid black;
	background-color:gray;
}

#kati {
	width: 38%;
	height: 220px;
	float: right;
	padding: 5px 5px 5px 5px;
	margin: 15px;
	color: green;
	bolder: 2px solid black;
	background-color:gray;
}

#kulia {
	width: 94%;
	height:220px;
	padding: 5px 5px 5px 5px;
	float: left;
	margin: 15px;
	color: blue;
	bolder: 2px solid black;
	background-color:gray;
	}
}
/* Smartphone *
	
