

body { 
  font-family: 'Open Sans', sans-serif;
  color: #666;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 20px auto;
}
header {
	height: 100px;
	padding: 0 15px;
}
#kushoto {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#kati {
	width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#kulia {
	width: 270px;
	padding: 5px 15px;
	float: left;
}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* Tablete */
@media (min-width: 768px) and (max-width:991) {
	
	#pagewrap {
		width: 94%;
	}
	#kushoto {
		width: 41%;
		padding: 1% 4%;
	}
	#kati {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}
	
	#kulia {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* Mobile */
@media (max-width: 667px) {

	#kushoto {
		width: auto;
		float: none;
	}
	
	#kati {
		width: auto;
		float: none;
		margin-left: 0px;
	}
	
	#kulia {
		width: auto;
		float: none;
	}

}

/* Desktop */
@media screen and (min-width: 992px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
	#sidebar {
		display: none;
	}

}

#kulia {
	background: #f8f8f8;
}
#Kushoto {
	background: #f0efef;
}
header, #kushoto, #kati, #kulia {
	margin-bottom: 5px;
}

#pagewrap, header, #kushoto, #kati, #kulia, footer {
	border: solid 1px #ccc;
}